.carousel-item {
    width: 100%;
    height: 75vh;
    object-fit: cover;
    position: relative;

}

.d-block {
    margin-top: -15%;
}

.carousel-caption {
    position: absolute;
    z-index: 1;
    display: table;
    width: 100%;
    height: 100%;
}

.absolute-div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.carousel-caption h3 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.carousel-caption h3.kettle-background {

    display: table-cell;
    vertical-align: middle;
    text-align: left;
}

@media only screen and (max-width: 1184px) {
    .carousel-item {
        height: 50vh;
    }

    .carousel-caption h3 {
        font-size: 21px;
    }

}

@media only screen and (max-width: 810px) {
    .carousel-item {
        height: 35vh;
    }

    .carousel-caption h3 {
        padding-right: 120px;
    }

}

@media only screen and (max-width: 580px) {
    .carousel-item {
        height: 25vh;
    }
}

@media only screen and (max-width: 420px) {
    .carousel-item {
        height: 20vh;
    }

    .carousel-caption h3 {
        font-size: 18px;
    }
}
