.cart{
    background: white; 
    width: 15rem;
    position: absolute;
    
    -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: 2;
    opacity: 1;
    h3{
        text-align: center;
    }
}
.position-right-flex{
    display:flex;
    justify-content: right;
    display:none

}