.checkout-content{
    margin-top:40px;
    background-color: white;
    width:100vh;
    padding:35px;
    margin-bottom:20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    h4{
        margin-bottom:20px;
    }
    h3{
        font-size:24px;
        margin-top:15px;
        margin-bottom:15px;
    }
    height: fit-content;
   
}
.smaller-column{
    width:100px !important;
    padding: 0;
    
}
.col{
    ul{
        list-style: none;
        padding:0;
    }
}
#total{
    text-align: center;
    width: 100%;
    padding:0;
    list-style: none;
    margin-top:35px;
    margin-bottom:35px;
    li{
        margin-right: 30px;
        padding-bottom:25px;
        display:inline;
    }
}
.btn-checkout{
    margin-top:40px;
}
#edit-info{
    font-weight: bolder;
    text-align:right;
}
.no-decoration{
    color:black;
    text-decoration: none;
}
.no-decoration:hover{
    color:black;
}
.smaller-font{
    font-size:16px !important;
}
.take-full-page-checkout{
    min-height: 66vh;

}
.your-purchases{
    background-color: $primary-2;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding:20px;

}
.total-info-order{
    margin-top:40px;
}
@media only screen and (max-width: 779px) {
    .checkout-content {
        ul{
            font-size:12px;
            text-align: center;
        }
        h3{
            font-size:18px;
            text-align: center;
        }
    }

}