footer {
    width: 100%;

    bottom: 0;
    background-color: white;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    p {
        text-align: center;
        margin: 0;
        padding: 15px;
        font-weight: bolder;
    }
}

.footer-image {
    width: 200px;
    padding-top: 20px;
}

.form {
    display: flex;
}
