.form-login {
    width: 400px;


    form {
        background-color: $primary-2;
        padding: 35px;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    }

    p {
        text-align: center;
    }

    p {
        font-size: 24px;
        font-weight: bold;
        color: black;
    }
}

.login-page {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    position: relative;
    min-height: 58vh;

}

#button-to-the-right {
    display: flex;
    justify-content: right;
}

.message {
    padding-bottom: 10px;
    font-size: 12px;
    text-align: right;

    a {
        color: white;
    }

}

.remember-me {
    width: 200px;
}
#smaller-font-login{
    font-size: 15px;
    background-color: $primary-3;
    padding:15px;
    color:white;
}
