.accordion-button {
    li {
        list-style: none;
        margin-right: 20px;
    }
}

.boldorder {
    font-weight: bolder;
}

.accordion-button:not(.collapsed) {
    background-color: white;
    color: black;
}

.accordion-button:focus {
    border-color: none;
    box-shadow: none;
}

.accordion {
    position: relative;
    min-height: 68vh;
}

.accordion-body {
    li {
        list-style: none;
    }
}
