.small-image{
    width:250px
}
.responsive{
   width: 90%;
   margin:10%;

}
.to-center{
    display: flex;
    justify-content: center;
    height: fit-content;
}
.newsletter{

    text-align: center;
   form.form{
       display: block;
   }
}
.slick-slide{
    height: 400px;
}