// Bootstrap
@import '~bootstrap/scss/bootstrap';


@import 'slick';
@import 'slicktheme';
@import 'slickedit';
@import 'config';
@import 'carousel';
@import 'underline';
@import 'navbar';
@import 'footer';
@import 'bestsellers';
@import 'categories';
@import 'registration';
@import 'cart';
@import 'login';
@import 'mainstyle';
@import 'useraccount';
@import 'deleteconfirmation';
@import 'orders';
@import 'changepassword';
@import 'help';






